<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../"><i class="fa fa-fw fa-rocket"></i>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../admin"><i class="fa fa-fw fa-user"></i>Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../kamar"><i class="fa fa-fw fa-bed"></i>Kamar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pelanggan"><i class="fa fa-fw fa-user"></i>Pelanggan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pemesanan"><i class="fa fa-fw fa-inbox"></i>Pemesanan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pembayaran"><i class="fa fa-fw fa-dollar-sign"></i>Pembayaran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../laporan"><i class="fa fa-fw fa-file-alt"></i>Laporan</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>